body {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #F9FAF8;

}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 20px;
}

ul {
    display:flex;
    list-style: none;
    margin: 0;
    gap: 10px;
}

.firstbody {
    display:flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items: center;
}

.subj {
    margin:0;
    font-size: 48px;
    font-weight:900;
}

.sectionone {
    background-color:#1F2937;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
}

.leftbodyone {
    max-width: 300px;
}

.placeholder {
    background-color: grey;
    padding:80px;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color:#3882F6;
    color:white;
    border-radius: 8px;
    box-shadow: none;
    margin-top: 20px;
}

li {
    color:#E5E7EB;
    font-size: 18px;
}

.headerlogo {
    font-weight:bold;
}

.image {
    color: #1F2937;
    font-size: 18px;
    text-align: center;
    max-width: 100px;
}

img {
    width: 100px;
    height: 100px;
}

.subjtwo {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin: 30px;
}

.sectiontwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagecontainer {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}

